.home-intro{
    @apply py-[50px] lg:py-[100px];
    h1{
        em{
            @apply text-fnopi-green;
        }
    }

    p{
        @apply max-w-[860px] mx-auto;
    }
   
}

.timeline-home-wrapper{
    @apply py-12 lg:py-[100px] px-6 lg:px-[60px] 2xl:px-[120px];
    .title-wrapper{
        @apply border-b border-solid border-fnopi-black pb-3;
    }
    .title{
        @apply flex flex-col md:flex-row justify-between w-full;
        em{
            @apply text-fnopi-green;
        }
    }
    .wp-element-button{
        @apply tracking-wider w-fit mt-3 mb-3 md:mb-0 md:mt-0 bg-fnopi-blue text-fnopi-black h-fit inline-block text-xs font-bold px-5 py-2 rounded-full md:top-[32px] lg:top-[36px] relative hover:bg-fnopi-dark-blue hover:text-white transition-colors;

    }

    p{
        @apply mt-6 md:mt-12 mx-auto max-w-[900px];
    }
}

.primo-piano-wrapper{
    @apply py-12 lg:py-[100px] px-6 lg:px-[60px] 2xl:px-[120px];
    .title-wrapper{
        @apply border-b border-solid border-fnopi-black pb-3;
    }
    .title{
        @apply flex flex-col md:flex-row justify-between w-full;
        em{
            @apply text-white;
        }
    }
    .wp-element-button{
        @apply tracking-wider w-fit mt-3 mb-3 md:mb-0 md:mt-0 bg-fnopi-blue text-fnopi-black h-fit inline-block text-xs font-bold px-5 py-2 rounded-full md:top-[32px] lg:top-[36px] relative hover:bg-fnopi-dark-blue hover:text-white transition-colors;

    }
    .content{
        @apply max-w-[900px] mx-auto;
        a{
            @apply inline-block mt-6 font-bold underline hover:no-underline;
        }
    }

    .fnopi-video{
        @apply p-3 md:p-6 border border-solid border-fnopi-black;
    }
}


.wp-block-quote{
    border: none;
    padding: 0;
    p{
        @apply pb-[100px] pt-[200px] font-fnopi-heading text-2xl italic relative px-12;
        &::before{
            @apply absolute left-0 right-0 top-[100px] w-[100px] h-[78px];
            content: "";
            margin: auto;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122.836' height='78.732' viewBox='0 0 122.836 78.732'%3E%3Cpath id='Path_24' data-name='Path 24' d='M52.063-110.808a23.642,23.642,0,0,1-11.968-3.1,22.627,22.627,0,0,1-8.626-8.93,28.5,28.5,0,0,1-3.22-13.973,42.908,42.908,0,0,1,5.407-21.323,55.565,55.565,0,0,1,14.4-16.706A68.838,68.838,0,0,1,68.04-185.713a67.046,67.046,0,0,1,22.174-3.827v3.037a62.3,62.3,0,0,0-21.019,3.767A68.11,68.11,0,0,0,49.876-172.1a51.891,51.891,0,0,0-13.851,16.342,39.7,39.7,0,0,0-4.617,20.9H28.613a15.515,15.515,0,0,1,3.706-10.57,23.492,23.492,0,0,1,9.234-6.439,29.714,29.714,0,0,1,11-2.187q11.057,0,17.071,6.075a20.272,20.272,0,0,1,6.014,14.823,20.11,20.11,0,0,1-3.159,10.874,25.009,25.009,0,0,1-8.566,8.262A22.728,22.728,0,0,1,52.063-110.808Zm-60.75,0a23.975,23.975,0,0,1-12.028-3.1,22.5,22.5,0,0,1-8.687-8.93,28.5,28.5,0,0,1-3.22-13.973,42.908,42.908,0,0,1,5.407-21.323,55.565,55.565,0,0,1,14.4-16.706A68.646,68.646,0,0,1,7.229-185.713a67.231,67.231,0,0,1,22.113-3.827v3.037a61.969,61.969,0,0,0-20.9,3.767A68.994,68.994,0,0,0-10.935-172.1a51.565,51.565,0,0,0-13.912,16.342,38.87,38.87,0,0,0-4.5,20.9h-2.916a15.515,15.515,0,0,1,3.706-10.57,23.492,23.492,0,0,1,9.234-6.439A30.012,30.012,0,0,1-8.2-154.062q11.056,0,17.071,6.075a20.272,20.272,0,0,1,6.014,14.823,19.833,19.833,0,0,1-3.22,10.874A25.747,25.747,0,0,1,3.1-114.028,22.412,22.412,0,0,1-8.687-110.808Z' transform='translate(32.623 189.54)' fill='%23202a2c'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    strong{
        font-style: normal;
        @apply font-fnopi-body text-base font-bold uppercase mt-12 block;
    }
    
}