@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'blocks';
@import 'patterns';
@import '../fonts/lato/stylesheet.css';
@import '../fonts/bodoni/stylesheet.css';



:where(.wp-block-group.has-background) {
    padding: 0;
}
.wp-block {
    margin-block-start: 0;
    margin-block-end: 0;
}

.editor-styles-wrapper {
    @apply font-fnopi-body text-fnopi-black;
    h1,.h1{
        @apply font-fnopi-heading text-6xl font-normal tracking-tight;
    }
    
    h2,.h2{
        @apply font-fnopi-heading text-5xl font-normal tracking-tight;
    }
    h3,.h3{
        @apply font-fnopi-heading text-xl lg:text-2xl font-normal tracking-tight;
    }

    .wp-element-button{
        @apply hover:underline text-lg;
    }

    @apply font-light;


    .primo-piano-wrapper{
        
        .content{
            max-width: 900px !important;
            margin-left: auto !important;
            margin-right: auto !important
            
        }
    }
}


@import 'story';